body{
    font-family: "Baloo Bhaijaan 2", sans-serif;
}
section{
    
    .pic{
        
        >a{
            margin-left: 20px;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            >figure{
                        min-width:18rem !important;
                        height:300px !important;
                        border-radius: 25px;
                >img{
                    width: 100% !important;
                    height: 100% !important;
                  
                }
            }
        }
    }
    >div{
        >a{
            >.text-justify{
                text-align: justify;
                padding: 4px;
            }
        }
    }
   
   
}